__pychache__/
.ipynb_checkpoints/
.vscode/
sim_build/
results.xml
iverilog_dump.v
*.Xil/
*_xilinx*/
*vivado*.jou
*vivado*.log
*.bit.link
*.hwh.link
*.vcd
*.fst
*.bit
*.hwh
*.xsa
*.pyc
*.dtbo
*.vcd
*.vvp