__pycache__/
.ipynb_checkpoints/
.vscode/
PYNQ/
sim_build/
results.xml
*.Xil/
*_xilinx*/
*vivado*.jou
*vivado*.log
*.bit.link
*.hwh.link
*.vcd
*.fst
*.bit
*.hwh
*.xsa
*.pyc
*.dtbo
*.vcd
*.vvp
*cordicg_b22.v
*.egg-info/
*_test.ipynb/
build/
