__pycache__/
.ipynb_checkpoints/
.vscode/
PYNQ/
*.Xil/
*_xilinx*/
*vivado*.jou
*vivado*.log
*.vcd
*.fst
*.bit
*.hwh
*.xsa
*.dtbo
*cordicg_b22.v
*.egg-info/
mimo_mts/overlays
designs/ip/tb/*/sim_build/
designs/ip/tb/*/results.xml
designs/ip/tb/*/synth/vivado_synth/
doc/*_test.ipynb
